

//Variables
$black: #333;
$pale: #d2e1dd;
$pink: #c69;
$blue: #036;

$font-stack: 'Andale Mono', monospace;
$font-size: 14px;


//MIXINS

@mixin ocean {
    color: white;
    margin-top: 50px;    
}

h1 {
    @include ocean;
}

@mixin circleThing($rad,$height,$width,$bg,$colour) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    -ms-border-radius: $rad;
    border-radius:  $rad;

    height: $height;
    width: $width;

    line-height: $height;
    text-align: center;

    background: $bg;
    color: $colour;

    margin: 0 auto;
    
}

//extend





///STYLES

body {
    background: $pale;
    color: $black;
    font-family: $font-stack;
    font-size: $font-size;
}

article{
    background: white;
    width: 760px;
    margin: 0 auto;
    padding: 40px;
    position: relative; 
    z-index: -2;

}

header {
    @include circleThing(100%,200px,200px,$blue,white);
    
    font-size: $font-size - 5;
}

footer {
    @include circleThing(100%,150px,150px ,$black ,$pale );
    font-size: $font-size -3;
    position: relative;
    z-index: -4;
    margin-top: -60px;

}

//extend

.main {
    background: pink;
    color: $black;
    margin: 0 auto;
    position: relative;
    z-index: -2;

}

.article02{
    @extend .main;
}

//map
$primary-colors: (
    "red": "ff0000",
    "green": "00ff00",
    "blue": "0000ff"
);

@each $color-name, $color-code in $primary-colors {
    .par-#{$color-name} {
    background: $color-code;
    }
}


//loop

$i : 1;
@while $i < 6 {
    .par-#{$i} {margin-left: 100px * $i;}    
    $i : $i + 1;
}


//nesting

.article01 {
    background-color: gray;

    .par-1{
        color: white;
    }

    .par-2{
        color: gold;
    }

    .par-3{
        color: #c69;
    }

    .par-4{
        color: aquamarine;
    }
}

//import&partials

@import 'import';